<%= form_with model: search, url: search_path, method: 'get', local: true do |f| %>
  <% if search.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>
  <div class="form-row shadow-sm mb-2 p-2 border rounded  bg-white">
    <div class="col-md-8">
      <%= f.text_field :period, class: 'form-control-plaintext border pl-2 js_rangepicker', readonly: true, autocomplete: 'off', placeholder: t('search.dates') %>
    </div>
    <div class="col-md-4">
      <%= f.submit defined?(btn_text) ? btn_text : t('search.search'), class: "btn btn-primary btn-block"%>
    </div>
  </div>
<% end %>
