<%= form_with model: search, url: search_path, method: 'get', local: true do |f| %>
  <% if search.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>
  <div class="form-row shadow-sm mb-2 p-2 border rounded  bg-white">
    <div class="col-md-8">
      <%= f.text_field :period,
          class: 'form-control-plaintext border pl-2',
          readonly: true,
          autocomplete: 'off',
          placeholder: t('search.dates'),
          data: {
                  controller: "flatpickr",
                  flatpickr_locale: I18n.locale,
                  flatpickr_min_date: Time.now.in_time_zone('Bangkok').strftime("%d.%m.%Y")
                  } %>
    </div>
    <div class="col-md-4">
      <%= f.submit defined?(btn_text) ? btn_text : t('search.search'), class: "btn btn-primary btn-block"%>
    </div>
  </div>
  <% if current_user && current_user.role?(['Admin', 'Accounting', 'Manager']) %>
    <div class="form-check mb-2">
      <input class="form-check-input form-check-input-xl" type="checkbox" value="" id="checkboxHideUnavailable" data-action="click->reveal#toggle">
      <label class="form-check-label" for="checkboxHideUnavailable" >
        Hide unavailable
      </label>
    </div>
  <% end %>
<% end %>
