<h1><%= t('search.results') %></h1>
<%= render 'form', search: @search %>
<div class="duration">Total rental period: <%= @search.duration %> days</div>
<div class="row row-cols-lg-3 mt-2">
<% @houses.each do |h| %>
  <% next if @prices[h.id].nil?  %>
  <div class="col mb-2">
    <%= render 'houses/preview', h: h, price: @prices[h.id], from_search: true, search: @search %>
  </div>
<% end %>
</div>
