<h1><%= t('search.results') %></h1>
<%= render 'form', search: @search %>
<div class="duration">Total rental period: <%= @search.duration %> days</div>
<% i = 0 %>
<% @houses.each do |h| %>
  <% next if @prices[h.id].nil?  %>
  <% if i % 3 == 0  %>
    <div class="row mt-2">
  <% end %>
    <div class="col-md-4 mb-2">
      <%= render 'houses/preview', h: h, price: @prices[h.id], from_search: true, search: @search %>
    </div>
  <% if (i+1) % 3 == 0 || h == @houses.last %>
    </div>
  <% end %>
  <% i += 1 %>
<% end %>
