---
http_interactions:
- request:
    method: post
    uri: https://translation.googleapis.com/language/translate/v2?key=AIzaSyDZps_zndKZ7PopkO46xAfJhuwFWCHbiz8&prettyPrint=false&target=en
    body:
      encoding: UTF-8
      string: q=%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%B5%D0%B4%D0%B8+%D1%8D%D1%82%D0%BE%D1%82+%D1%82%D0%B5%D0%BA%D1%81%D1%82
    headers:
      X-Http-Method-Override:
      - GET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"translations":[{"translatedText":"Translate this text","detectedSourceLanguage":"ru"}]}}'
  recorded_at: Fri, 28 Jul 2023 08:26:09 GMT
recorded_with: VCR 6.2.0
