 <tr>
  <td><strong><%= house.code %></strong></td>
  <td><span>Project: <%= house.project || '-' %></span><br><span>Address: <%= house.address || '-' %></span></td>
  <td><span>Google map: <%= house.google_map || '-' %></span></td>
</tr>
