 <tr>
  <td class="col-2"><strong><%= house.code %></strong></td>
  <td><span>Project: <%= house.project || '-' %></span><br><span>Address: <%=  link_to_google_map(house.address, house.google_map) %></span></td>
</tr>
