<h1>Houses</h1>

<div class="row">
  <div class="col-lg-2 mb-2">
    <form>
      <input type="text" class="form-control" id="search_house" placeholder="Filter by code">
    </form>
  </div>
  <div class="col-lg-2">
    <%= link_to 'New House', new_house_path, class: 'btn btn-info mb-2 btn-block' %>
  </div>
  <% if current_user.role?('Admin') %>
    <div class="col-lg-2">
      <%= link_to 'Inactive Houses', houses_inactive_path, class: 'btn btn-primary mb-2 btn-block' %>
    </div>
  <% end %> 
</div>
<div class="for_rent">
  <h5 id="active_hs">Houses for rent</h5>
  <a href="#inactive_hs">Jump to houses not for rent</a>
  <%= render 'table', houses: @houses_for_rent %>
</div>
<div class="not_for_rent">
  <h5 id="inactive_hs">Houses not for rent</h5>
  <a href="#active_hs">Back to houses for rent</a>
  <%= render 'table', houses: @houses_not_for_rent %>
</div>
