
<%= form_with(model: @house, url: houses_path, local: true, id: 'photoupload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" multiple>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>

  <div class="actions">
    <%= form.submit 'Save House', class: 'btn btn-primary' %>
    <%= link_to 'Back', houses_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
<div id='photo_previews'></div>
  <div class="custom-file d-none">
    <input type="file" class="custom-file-input" id="photoupload_thumb" multiple>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
