<h1>Jobs</h1>

<% if current_user.role? :admin %>
  <div class="row mb-2 p-2 font-weight-bold d-none d-md-flex">
    <div class="col-md-2">User</div>
    <div class="col-md-1">Open</div>
    <div class="col-md-2">Plan</div>
    <div class="col-md-1">Closed</div>
    <div class="col-md-2">Job type</div>
    <div class="col-md-2">Booking</div>
    <div class="col-md-2">House</div>
  </div>
  <% @jobs.each do |job| %>
    <%= render 'job_admin', job: job %>
  <% end %>
<% else %>
<% end %>

<%= link_to 'New Job', new_job_path %>
