<table class='table table-striped table-bordered table-sm bg-white table-responsive-lg'>
  <thead>
    <th>Email</th>
    <th>Name</th>
    <th>Role</th>
    <th>Houses</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>