<div id="error_explanation ">
  <div class="alert alert-warning">
    <ul class="list-unstyled mb-0">
      <% flash.each do |message_type, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
