<h1>Editing uploads test</h1>

<%= render "form", uploads_test: @uploads_test %>

<br>

<div>
  <%= link_to "Show this uploads test", @uploads_test %> |
  <%= link_to "Back to uploads tests", uploads_tests_path %>
</div>
