<h1 class="display-3"><%= t('search.title') %></h1>

<%= render 'search/form', search: @search %>


<% @houses.each_with_index do |h, i| %>
  <% if i % 3 == 0  %>
    <div class="row mt-2">
  <% end %>
    <div class="col-md-4 mb-2">
      <%= render 'houses/preview', h: h, from_search: false %>
    </div>
  <% if (i+1) % 3 == 0 || h == @houses.last %>
    </div>
  <% end %>
<% end %>
