<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<p><%= t('hello') %></p>

<%= link_to 'Users', admin_users_path, { class: "nav-link" } %>

<% if !signed_in? %>
<%= link_to 'Sign in', new_user_session_path, { class: "nav-link" } %>
<% else %>

<%= link_to 'Sign out', destroy_user_session_path, { method: :delete, class: "nav-link" } %>
<% end %>
