<h1>Pages#index</h1>

<%= render 'search/form', search: @search %>

<%= link_to 'Users', users_path, { class: "nav-link" } %>

<% if !signed_in? %>
<%= link_to 'Sign in', new_user_session_path, { class: "nav-link" } %>
<% else %>

<%= link_to 'Sign out', destroy_user_session_path, { method: :delete, class: "nav-link" } %>
<% end %>
