<h1 class="display-4"><%= t('search.title') %></h1>

<%= render 'search/form', search: @search %>

<div class="row mt-2">
<% @houses.each_with_index do |h, i| %>
  <div class="col-md-4 mt-2">
    <%= render 'houses/preview', h: h, from_search: false %>
  </div>
<% end %>
</div>
