<h1 class="display-4"><%= t('search.title') %></h1>

<%= render 'search/form', search: @search %>
<p><small><%= t('search.period_limits') %></small></p>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
<% @houses.each_with_index do |h, i| %>
  <%= render 'houses/preview', h: h, from_search: false %>
<% end %>
</div>
