<div class="vh-75 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1 class="display-1 fw-bold">500</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Internal Server Error.</p>
    <p class="lead">
      Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.
    </p>
    <a href="<%= root_path %>" class="btn btn-primary">Back To Home</a>
    <p class="mt-5 text-sm text-muted">
      Request ID: <%= controller.request.uuid %>
    </p>
  </div>
</div>
