<div class="d-flex justify-content-center mt-3">
  <div style='width:350px;' class='border rounded shadow-sm p-3 bg-white'>
    <h2><%= t("devise.log_in") %></h2>
    <%= render "devise/sessions/form", resource: resource, resource_name: resource_name, devise_mapping: devise_mapping %>
    <%= render "devise/shared/links" %>
  </div>
</div>


