<div style="
  font-family: Arial, sans-serif;
  width: 100%;
  font-size: 9px;
  padding: 0 12mm;
  text-align: right;
  color: #999;
">
  <div>
    Agreement No. <%= agreement_no %>, page <span class="pageNumber"></span>/<span class="totalPages"></span>
  </div>
</div>
