<table class="table table-striped table-bordered table-sm bg-white table-responsive-lg'">
  <thead>
    <tr>
      <th>Name</th>
      <th>Property</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= "#{client.name} #{client.surname}" %></td>
        <td><%= client.houses.map(&:code).join(", ") %></td>
        <td>
          <%= link_to 'Documents', prepare_documents_path(client_id: client.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>