<h1>
  New Transaction
</h1>
<h5>
  <% if @transaction.user_id  %>
    <% u = User.find(@transaction.user_id) %>
    <%= "Owner: #{u.code} (#{u.name} #{u.surname})" %>
    <%= "/ House: #{House.find(@transaction.house_id).code}" if @transaction.house_id %>
  <% end %>
</h5>

<%= render 'form', transaction: @transaction %>
