<div class="shadow-sm mb-3 bg-light rounded text-center " style="padding: 150px 0px;">
  <span class="<%= @color %>"><%= @notice %></span>
  <div class="m-3"><%= link_to "All transfers", transfers_path %></div>
</div>
