<% if transfers.any? %>
  <div class="d-none d-lg-block mb-2 p-2 ">
    <div class="row font-weight-bold">
      <% if signed_in? %>
        <div class="col-lg-1">
      <% else %>
        <div class="col-lg-2">
      <% end %>
        Date/Type
      </div>
      <div class="col-lg-2">From</div>
      <div class="col-lg-2">To</div>
      <% if signed_in? %>
        <div class="col-lg-2">
      <% else %>
        <div class="col-lg-3">
      <% end %>
        Client
      </div>
      <% if signed_in? && current_user.role?(['Admin', 'Manager', 'Guest relation']) %>
        <div class="col-lg-1">Booked by</div>
      <% end %>
      <div class="col-lg-2">Status</div>
      <div class="col-lg-1">Number</div>
      <% if signed_in? && current_user.role?(['Admin', 'Manager']) %>
        <div class="col-lg-1">Actions</div>
      <% end %>
    </div>
  </div>

  <%= render transfers %>

<% else %>
  No transfers for this booking yet
<% end %>
