<div data-controller="reveal" data-reveal-hidden-class="d-none" >
  <h1><%= t('search.results') %></h1>
  <%= render 'form', search: @search, bdrs: @bdrs, locations: @locations, types: @types %>
  <p><small><%= t('search.period_limits') %></small></p>
  <% if current_user && current_user.role?(['Admin', 'Accounting', 'Manager']) %>
    <div class="form-check">
      <input class="form-check-input form-check-input-xl" type="checkbox" value="" id="checkboxHideUnavailable" data-action="click->reveal#toggle">
      <label class="form-check-label" for="checkboxHideUnavailable" >
        Hide unavailable
      </label>
    </div>
  <% end %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-2">
    <% @houses.each do |h| %>
      <% next if @prices[h.id].nil?  %>
      <%= render 'admin/admin_houses/preview', h: h, price: @prices[h.id], from_search: true, search: @search %>
    <% end %>
  </div>
</div>
