name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:13.10
        env:
          POSTGRES_USER: user
          POSTGRES_DB: db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby 3.0.2
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.2

    - name: Install dependencies
      run: |
        sudo bundle install
        yarn install

    - name: Setup test database
      env:
        RAILS_ENV: test
        RACK_ENV: test
        DATABASE_URL: "postgres://user:@localhost:5432/phuketmanage_test"
        S3_BUCKET: 'test'
      run: |
        bundle exec rails db:create db:schema:load

    - name: Run tests
      run: bundle exec rake

    - name: Store test results
      uses: actions/upload-artifact@v2
      with:
        name: test-results
        path: test-results

