# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '15 22 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        days-before-pr-stale: 5
        stale-pr-label: 'stale'
        stale-pr-message: 'PR is stale, any updates?'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        # debug-only: true
        # days-before-pr-close: 7
        # close-pr-message: 'PR closed due to inactivity'
