<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>

    <style>
      <%= Rails.root.join("app/assets/stylesheets/pdf.css").read.html_safe %>
    </style>
  </head>

  <body>
    <div class="document">
      <%= yield %>
    </div>
  </body>
</html>
